<div class="confirmation-container" data-aos="fade-up">
  <h2>Your request was sent to the location owner!</h2>
  <h5 class="h5-bookings"><i><%= @booking.location.name %></i></h5>
    <div class="confirmation-details">
      <p><b>Start Date:</b> <%= @booking.start_date %></p>
      <p><b>End Date:</b> <%= @booking.end_date %></p>
      <p><b>Total days:</b> <%= (@booking.end_date - @booking.start_date).to_i %></p>
      <p><b>Total price:</b> $<%= @booking.agreed_price %></p>
      <p><b>Booking status:</b> <i><%= @booking.status.capitalize %></i></p>
    </div>
    <%= link_to "Dashboard", dashboard_path, class: "btn-dashboard"  %>
      <p>=======</p>
</div>
