<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501389446297-06c4c50b5ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <img src="https://i.ibb.co/6vT2R0b/leaveyourshitlogo.png" alt="leave your shit logo", id="main-logo">
    <p>Find luggage storage near you</p>

    <div class="form-home">
    <%= form_tag locations_path, method: :get do %>
      <div style="display: flex;">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Write the address",
        class: "form-home-banner",
        style: "text-align: center"
      %>
      <%= submit_tag "Find Storage", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<ul class="list-container">
  <li class="list-title">
    <h2>1 235 </h2>
    <p>happy users</p>
  </li>
  <li class="list-title">
    <h2>6 356</h2>
    <p>locations to store</p>
  </li>
  <li class="list-title">
    <h2>8.9 </h2>
    <p>in reviews</p>
  </li>
</ul>
<div class="how-it-works personal-container">
  <div class="list-title2">
    <p class="title-3", style="padding-bottom: 0px;">Leave your shit </p>
    <p class="title-3", style="padding-top: 0px;"><strong>in 3 steps</strong></p>
  </div>
  <div>
    <img src="https://pngimg.com/uploads/luggage/luggage_PNG10746.png" alt="Baggage", class="img-mainhome">
  </div>
  <div>
  <ol>
    <li class ="list-orderedsteps">
      Book
      <p class="list-stepcontent">Book online and receive directions</p>
    </li>
    <li class ="list-orderedsteps">
      Drop
      <p class="list-stepcontent">Drop off the luggage at one of the locations</p>
    </li>
    <li class ="list-orderedsteps">
      Enjoy
      <p class="list-stepcontent">Enjoy without the burden of your luggage</p>
    </li>
  </ol>
  </div>
</div>


<%# <div class="how-it-works">
  <div class="list-title2">
    <p class="title-3">Leave your shit</p>
    <p><strong>in 3 steps</strong></p>
  </div>

  <ol class="crazy-list">
    <div class="card" style="width: 18rem;">
      <img class="img-home-list" src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="number-home">1.</h1> <h4>Book</h4>
        <li>Book online and receive directions</li>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="img-home-list" src="https://images.unsplash.com/photo-1581553680321-4fffae59fccd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="number-home">2. </h1> <h4>Drop</h4>
        <li>Drop off the luggage at one of the locations</li>
      </div>
    </div>

     <div class="card" style="width: 18rem;">
      <img class="img-home-list" src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2119&q=80" class="card-img-top" alt="...">
      <div class="card-body">
          <h1 class="number-home">3.</h1> <h4>Enjoy</h4>
          <li>Enjoy the time without the burden of your luggage</li>
      </div>
  </ol>
</div> %>

<div class="container-feature-home">
    <p class="title-4", style="color: white">Our Top Listings</p>
    <%# <ul class="crazy-list"> %>
    <div class="container-responsivegrid">
      <% 4.times do %>
      <% @location = Location.all.sample %>
        <%# <li> %>
        <div class="card">
          <%= cl_image_tag @location.photo.key,  class:"card-img-top" %>
          <div class="card-body">
            <% short_name = @location.name.split[0..4].join(" ") %>
            <h4><%= short_name %></h4>
            <h5><%= @location.location_address %></h5>
            <h6><%= @location.price %>$ per hour</h6>
          </div>
        </div>
      <%# </li> %>
      <% end %>
    </div>
    <%# </ul> %>
</div>
