<div class="d-flex justify-content-around pt-3 pb-3">
  <div>
    <% if policy(Location).create? %>
    <%= link_to "Create new storage here", new_location_path, class: "btn btn-secondary"%>
    <% end %>
  </div>
  <div>
    <h1>Storage Locations near you</h1>
  </div>
</div>
<div class="body-page">
  <div class="cards-index">
    <% @locations.each do |location| %>
      <div class="d-flex storage-container">
        <div>
          <% if location.photo.attached? %>
            <%= cl_image_tag location.photo.key, height: 200, width: 250, crop: :fill, class:"miniphoto" %>
          <% else %>
            <img src="https://source.unsplash.com/random/250x200" alt="photo" class="miniphoto">
          <% end %>
        </div>
        <div class= "description">
          <%= location.location_address %>
          <h3><%= location.name %></h3>
          <%= location.description %>
          <p>Availability: <% if location.availability == true %>
            <%= "available" %>
          <% else %>
            <%= "not available" %>
          <% end %></p>
          <h4>Price per hour($): <%= location.price %></h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map">
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWFydGlnaXJvY29yY29sbCIsImEiOiJja3ZjZWh1cnkweWU0MnBwZzRteGtvZDdmIn0.QH-r1_P0WdpNLrbN6ag57A'>
  </div>
</div>
