
<div class="body-page">

<div class="map-cards">

    <div class="title-index">
        <h2>Storages in <%= params[:query] %></h2>
        <hr>
    </div>

    <div class="cards-index" >
      <% @locations.each do |location| %>

        <div class="storage-container" style="width: 18rem;">
          <div>
            <% if location.photo.attached? %>
              <div class="img-card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=rails_blob_url(location.photo)%>')">
                <div class="card-title-index">
                  <h5><%= location.name.split[0..4].join(' ') %></h5>
                  <small><%= location.location_address.split[0..3].join(' ') %></small>
                  <div id="btn-card-index">
                    <%= link_to "See more", location_path(location), class: "btn-index btn-flat", id: "show"  %>
                  </div>
                </div>

              </div>
              <%# <%= cl_image_tag location.photo.key, height: 200, width: 300, crop: :fill, class:"miniphoto" %>
            <% else %>
              <img src="https://source.unsplash.com/random/250x200" alt="photo" class="miniphoto">
            <% end %>
          </div>

          <div class="card-body">

            <p class="user-card-index"><strong><%= location.property_type.capitalize %> </strong>by <%= location.user.name %></p>



            <div class="btn-card-index">
                <%# <%= link_to "Delete", location_path(location), method: :delete, data: { confirm: "Are you sure you want to delete this location?" }, id: "delete"  %>
                <p class="price-card-index"><strong> €<%= location.price%> </strong> <small>/hour</small></p>

            </div>

          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div id="map"
     style="width: 100%; height: 750px; position: sticky; top: 70px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <%# <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWFydGlnaXJvY29yY29sbCIsImEiOiJja3ZjZWh1cnkweWU0MnBwZzRteGtvZDdmIn0.QH-r1_P0WdpNLrbN6ag57A'> %>
  </div>
</div>
