<h1>Storage Locations near you</h1>
<br>
<ul>
  <% @locations.each do |location| %>
    <li class="card-category">
      <h3><%= location.name %></h3>
      <h5><%= location.property_type %></h5>
      <% if location.photo.attached? %>
        <%= cl_image_tag location.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>

      <br>
      <p>Storage Location Address: <%= location.location_address %></p>
      <br>
      <p>Storage Description: <%= location.description %></p>
      <br>
      <p>Availability: <% if location.availability == true %>
        <%= "available" %>
      <% else %>
        <%= "not available" %>
      <% end %></p>
      <p>Price per hour($): <%= location.price %></p>
    </li>
    <% end %>
  </ul>

<%= link_to "List a new storage location", new_location_path %>
