<div class="d-flex justify-content-around pt-3 pb-3">
    <h1>Storage Locations near you</h1>
</div>
<div class="body-page">
  <div class="cards-index">
  <% 10.times do  %>
    <% @locations.each do |location| %>
      <div class="d-flex storage-container">
        <div>
          <% if location.photo.attached? %>
            <%= cl_image_tag location.photo.key, height: 200, width: 250, crop: :fill, class:"miniphoto" %>
          <% else %>
            <img src="https://source.unsplash.com/random/250x200" alt="photo" class="miniphoto">
          <% end %>
        </div>
        <div class= "description">
        <h3><%= location.name %></h3>
        <h5><%= location.property_type.capitalize %></h5>
          <p>Address: <%= location.location_address %></p>
          <p>"<%= location.description %>"</p>
          <p>Available on your selected dates?
           <% if location.availability == true %>
            <img src="https://cdn-icons-png.flaticon.com/512/3572/3572255.png" alt="green tick", class="availablility">
          <% else %>
            <img src="https://cdn-icons-png.flaticon.com/512/3572/3572260.png" alt="red cross" class="availablility">
          <% end %></p>
          <p>Price per hour($): <%= location.price %></p>
          <%= link_to "Delete this location", location_path(location), method: :delete, data: { confirm: "Are you sure you want to delete this location?" }, class: "btn btn-flat", id: "delete"  %>
          <%= link_to "See more", location_path(location), class: "btn btn-flat", id: "show"  %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="map" id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <%# <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWFydGlnaXJvY29yY29sbCIsImEiOiJja3ZjZWh1cnkweWU0MnBwZzRteGtvZDdmIn0.QH-r1_P0WdpNLrbN6ag57A'> %>
  </div>
</div>
