<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @location.photo.key, height: 300, crop: :fill %>');">
  <div class="container-show">
    <div>
      <h1 id="title-show"> <strong><%=  @location.name  %></strong></h1>

    </div>
  </div>
</div>
<div class="show-container">
  <div class="card-show">
    <div class="card-body-show">
      <h5><strong>Details</strong></h5>
      <hr>
      <p><img src="https://cdn-icons-png.flaticon.com/512/3134/3134221.png" alt="storage type symbol", class="icon-smallsymbol">
      <%= @location.property_type.capitalize %></p>
      <p class="card-text"> <img src="https://cdn-icons-png.flaticon.com/512/1356/1356321.png" alt="description type symbol", class="icon-smallsymbol">
      <%= @location.description %></p>
    </div>

    <div class="card-location">
      <h5><strong>Location</strong></h5>
      <hr>
      <p class="card-title"> <img src="https://cdn-icons-png.flaticon.com/512/446/446075.png" alt="location type symbol", class="icon-smallsymbol">
      <%= @location.location_address %></p>
      <%# <div>
        <img class="img-card-show" src="https://s1.eestatic.com/2017/10/11/social/la_jungla_-_social_253487245_50033618_1706x960.jpg" alt="">
      </div> %>
      <div class="map-showpagecontainer">
        <div id="map"
          style="width: 800px; height: 550px; border-radius: 10px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
      </div>
    </div>
  </div>


  <div class="container-booking-card">
    <div class="booking-card" >
       <h3 class="card-price"> <strong>€ <%= @location.price%></strong></h3><p>/hour</p>
       <%= simple_form_for [@location, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
        <%= f.submit 'Book now', class:'btn-show btn-primary'%>
        <% end %>
    </div>
    <div class="booking-card-avatar">
     <div>
      <%if @location.user.photo.attached? %>
        <%= cl_image_tag @location.user.photo.key, crop: :fill, class: "avatar-booking-show" %>
      <%else%>
        <%= cl_image_tag("../default-avatar", crop: :fill, class: "avatar-booking-show") %>
      <%end%>
     </div>
     <div>
      <p>Hosted by <%=@location.user.name%> </p>
     </div>
    </div>
  </div>
</div>
